<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <app-notify-manage [parentClick]="parentClick"></app-notify-manage>
  <div class="background"></div>
  <div class="ribbon">
    <div class="text-center">
      <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
        class="img-fluid profile-image-pic img-thumbnail rounded-circle my-4" width="100px" alt="profile">
    </div>
    <form action="/?r=1900535053" method="post" [formGroup]="loginForm" (ngSubmit)="login()">
      <input name="__RequestVerificationToken" type="hidden">
      <span class="field-validation-valid error" data-valmsg-for="Username" data-valmsg-replace="true"></span>
      <input formControlName="accout" autocomplete="off" class="input username" id="Username" name="Username"
        placeholder="Tên đăng nhập" type="text" value="">
      <input formControlName="password" autocomplete="off" class="input password" id="Password" name="Password"
        placeholder="Mật khẩu" type="password">
      <!-- <label class="remember">
        <input data-val="true" data-val-required="The RememberMe field is required." id="RememberMe" name="RememberMe"
          type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false">
        Ghi nhớ mật khẩu
      </label> -->
      <label class="signup1">
        <a routerLink="/signup"> New user? Click to signup</a>
      </label>
      <a><button type="submit" class="submit">Đăng Nhập</button></a>
    </form>
  </div>

  <!-- Slide Show -->

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card">
            <a href="https://pixabay.com/photos/cat-animal-cat-portrait-cat-s-eyes-1045782/" target="_blank">
              <img src="https://cdn.pixabay.com/photo/2015/11/16/14/43/cat-1045782_960_720.jpg" class="card-img-top"
                alt="Cat"></a>
            <div class="card-body">
              <h5 class="card-title">Mèo</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
              <a href="https://pixabay.com/photos/cat-animal-cat-portrait-cat-s-eyes-1045782/" target="_blank"
                class="btn btn-primary">Chi Tiết</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <a href="https://pixabay.com/photos/dolphin-animal-sea-ocean-203875/" target="_blank"><img
                src="https://cdn.pixabay.com/photo/2013/11/01/11/13/dolphin-203875_960_720.jpg" class="card-img-top"
                alt="Dolphin"></a>
            <div class="card-body">
              <h5 class="card-title">Cá Heo</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
              <a href="https://pixabay.com/photos/dolphin-animal-sea-ocean-203875/" target="_blank"
                class="btn btn-primary">Chi Tiết</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <a href="https://pixabay.com/photos/swan-water-bird-lake-white-swan-2077219/" target="_blank"><img
                src="https://cdn.pixabay.com/photo/2017/02/18/13/55/swan-2077219_960_720.jpg" class="card-img-top"
                alt="Thiên Nga"></a>
            <div class="card-body">
              <h5 class="card-title">Thiên Nga</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
              <a href="https://pixabay.com/photos/swan-water-bird-lake-white-swan-2077219/" target="_blank"
                class="btn btn-primary">Chi Tiết</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <a href="https://pixabay.com/photos/lion-animal-mammal-predator-mane-3576045/" target="_blank"><img
                src="https://cdn.pixabay.com/photo/2018/07/31/22/08/lion-3576045_960_720.jpg" class="card-img-top"
                alt="Thiên Nga"></a>
            <div class="card-body">
              <h5 class="card-title">Sư Tử</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
              <a href="https://pixabay.com/photos/lion-animal-mammal-predator-mane-3576045/" target="_blank"
                class="btn btn-primary">Chi Tiết</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <a href="https://pixabay.com/photos/kingfisher-bird-close-up-perched-2046453/" target="_blank"><img
                src="https://cdn.pixabay.com/photo/2017/02/07/16/47/kingfisher-2046453_960_720.jpg" class="card-img-top"
                alt="Thiên Nga"></a>
            <div class="card-body">
              <h5 class="card-title">Bói Cá</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
              <a href="https://pixabay.com/photos/kingfisher-bird-close-up-perched-2046453/" target="_blank"
                class="btn btn-primary">Chi Tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- POPUP -->
  <div class="modal" id="myModal">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          Thông Báo
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true"> × </span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div *ngFor="let row of notifyData">
            <div [innerHtml]="row.content"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="onParentButtonClick()" type="button" class="btn btn-primary"
          (click)="modal.close('Save click')">
          Đã Xem
        </button>
      </div>
    </ng-template>
  </div>
  
</body>

</html>