<!-- POPUP -->
<!-- <div class="modal" id="myModal">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Thông Báo
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"> × </span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div *ngFor="let row of notifyData">
            <div [innerHtml]="row.content"></div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
        Đã Xem
      </button>
    </div>
  </ng-template>
</div> -->

<router-outlet></router-outlet>

<!-- <div class="container-fluid " >
  {{todaydate | date : 'EEEE, d/M/y'}}
</div> -->