<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1 style="color: aliceblue;">Angular CRUD</h1>
      <div class="d-flex">
        <button (click)="clickAddNotify()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="btn btn-success">Add
          Notify</button>
        <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Notify ID</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of notifyData">
          <td>{{row.id}}</td>
          <td>{{row.title}}</td>
          <!-- <td><div [innerHtml]="row.content"></div></td> -->
          <td>{{row.description}}</td>
          <td>{{row.start}}</td>
          <td>{{row.end}}</td>
          <td>
            <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
              class="btn btn-info">Edit</button>
            <button (click)="deleteNotify(row)" class="btn btn-danger mx-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notify Detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="card-body">
              <div class="form-group col-md-12">
                <label for="title">Title<a id="sao"> (*)</a></label>
                <input type="text" formControlName="title" class="form-control" name="title" placeholder="Tiêu Đề">
                <small class="form-text text-danger"></small>
              </div>

              <div class="form-group col-md-12">
                <label>Mô Tả</label>
                <input type="text" formControlName="description" class="form-control" name="mota" placeholder="Mô Tả">
                <small class="form-text text-muted"></small>
              </div>

              <div class="form-group col-12 ">
                <label>Công Ty</label>
                <input type="text" class="form-control" name="congty" placeholder="Công Ty">
                <small class="form-text text-muted"></small>
              </div>

              <div class="form-group col-12 ">
                <label>Nội Dung</label>
                <ckeditor formControlName="content"></ckeditor>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Kiểu Hiển Thị</label>
                  <select class="form-control" formControlName="display">
                    <option value="tin tuc">Tin Tức</option>
                    <option value="thong bao">Thông Báo</option>
                    <option value="slide anh">Slide Ảnh</option>
                  </select>
                  <small class="form-text text-muted">Chọn kiểu hiển thị</small>
                </div>

                <div class="form-group col-md-4">
                  <label>Kiểu Thông Báo</label>
                  <select class="form-control" formControlName="login" id="login">
                    <option value="{{country}}" *ngFor="let country of countries">{{country}}</option>
                    <!-- <option value="sau">Sau Khi Đăng Nhập</option> -->
                  </select>
                  <small class="form-text text-muted">Chọn kiểu thông báo</small>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="name">Bắt Đầu <a id="sao">(*)</a></label>
                  <input type="date" formControlName="start" class="form-control">
                  <small class="form-text text-danger" name="start"></small>
                </div>
                <div class="form-group col-md-4">
                  <label for="name">Kết Thúc <a id="sao">(*)</a></label>
                  <input type="date" formControlName="end" class="form-control">
                  <small class="form-text text-danger" name="end"></small>
                </div>
              </div>

              <div class="form-row ">
                <div class="form-group col-md-2">Kích Hoạt
                  <input type="checkbox" />
                </div>
                <div class="form-group col-md-2">Cho phép hết hạn
                  <input type="checkbox" />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="formFile" class="form-label">Đính Kèm<input class="form-control" type="file"
                      id="formFile"></label>
                </div>
                <div class="form-group col-md-4">
                  <!-- <label for="formFile" class="form-label">Ảnh<input class="form-control" type="file" id="formFile"></label> -->
                  <img *ngFor='let url of urls' [src]="url" height="100" width="100">Ảnh<br>
                  <input type="file" (change)="onselectImage($event)" multiple>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="postNotifyDatails()" type="submit" *ngIf="showAdd" value="Submit"
            class="btn btn-primary">Add</button>
          <button (click)="updateNotifyDatails()" type="submit" *ngIf="showUpdate" value="Submit"
            class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

  <!-- POPUP -->
  <div class="modal" id="myModal">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          Thông Báo
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true"> × </span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div *ngFor="let row of notifyData">
            <div [innerHtml]="row.content"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
          Đã Xem
        </button>
      </div>
    </ng-template>
  </div>
  <div class="cart-item" *ngFor="let item of notifyData">
    <span>{{item.title}}</span>
    {{ todaydate | date: 'hh:mm, dd-MM-y' }}
  </div>
</body>

</html>